@inherits LayoutComponentBase

    <div class="header-author" style=" background-image: url(images/pattern/pt3.png);">
        <HeaderAuthorComponent />
    </div>

    <!-- header -->
    <header class="site-header mo-left header-full header">
        <HeaderComponent />
    </header>
    <!-- header END -->
    <div class="page-content bg-white">
        @Body
    </div>
    <footer class="site-footer wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
    </footer>
    @code{
        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/js/jquery.min.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/wow/wow.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/bootstrap/js/popper.min.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/bootstrap-select/bootstrap-select.min.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/magnific-popup/magnific-popup.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/counter/waypoints-min.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/counter/counterup.min.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/imagesloaded/imagesloaded.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/masonry/masonry-3.1.4.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/masonry/masonry.filter.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/owl-carousel/owl.carousel.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/scroll/scrollbar.min.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/plugins/lightgallery/js/lightgallery-all.min.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/js/custom.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/js/dz.carousel.js");
                //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/js/dz.ajax.js");
                await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/_content/CMS.RCLDiary/assets/js/customCHT.js");
            }

        }
    }