
<div class="form-group row">
    <fieldset>
        <legend>
            <div class="row">
                <div class="col-sm-8 text-left">
                    THÔNG TIN SẢN PHẨM
                </div>
                <div class="col-sm-4 text-right">
                    <a data-toggle="collapse" data-target="#productInfor" role="button" aria-expanded="true"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </legend>
        <div class="collapse in" id="productInfor" aria-expanded="true">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tên sản phẩm <span class="text-danger">(*)</span></label>
                <div class="col-sm-10">
                   
                </div>
            </div>          
        </div>

    </fieldset>
</div>
