@page "/"
@namespace CMS.Website.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đá mỹ nghệ Hòa Phát </title>
    <base href="~/" />
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:/ -->
    <!--[if lt IE 10]>
      <script src="https:/oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https:/oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="Đá mỹ nghệ Hòa Phát" />
    <meta property="og:title" content="Đá mỹ nghệ Hòa Phát" />
    <meta property="og:description" content="Đá mỹ nghệ Hòa Phát" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">
    <!-- Favicon icon -->
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="_content/CMS.RCLDiary/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="_content/CMS.RCLDiary/css/style.css">
    <link rel="stylesheet" type="text/css" href="_content/CMS.RCLDiary/css/templete.css">
    <link class="skin" rel="stylesheet" type="text/css" href="_content/CMS.RCLDiary/css/skin/skin-1.css">


</head>

<body id="bg">
    <div class="page-wraper">
        <div id="loading-area"></div>
        <app>
            <component type="typeof(App)" render-mode="ServerPrerendered" />
        </app>

        <button class="scroltop fa fa-chevron-up"></button>
    </div>

        <script src="_content/CMS.RCLDiary/js/jquery.min.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/wow/wow.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/bootstrap/js/popper.min.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/magnific-popup/magnific-popup.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/counter/waypoints-min.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/counter/counterup.min.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/imagesloaded/imagesloaded.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/masonry/masonry-3.1.4.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/masonry/masonry.filter.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/owl-carousel/owl.carousel.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/scroll/scrollbar.min.js"></script>
        <script src="_content/CMS.RCLDiary/plugins/lightgallery/js/lightgallery-all.min.js"></script>
        <script src="_content/CMS.RCLDiary/js/custom.js"></script>
        <script src="_content/CMS.RCLDiary/js/dz.carousel.js"></script>
        <script src="_content/CMS.RCLDiary/js/dz.ajax.js"></script>
        <script src="_content/CMS.RCLDiary/assets/js/customCHT.js"></script>


        <script src="_framework/blazor.server.js"></script>
</body>

</html>