<!-- Category -->
<div class="section-full bg-gray content-inner-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-3 m-md-b30">
                <div class="category-head">
                    <div class="">
                        <h4 class="title">Category</h4>
                        <div class="next-prev-btn">
                            <span id="prev-slide" class="prev"><i class="fa fa-long-arrow-left"></i> Prev</span>
                            <span id="next-slide" class="next">Next <i class="fa fa-long-arrow-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-9">
                <div class="category-owl-2 owl-carousel owl-btn-center-lr owl-none">
                    <div class="item">
                        <div class="category-box">
                            <div class="category-media">
                                <img src="images/category/pic1.jpg" alt="Travel">
                            </div>
                            <div class="category-info">
                                <a href="javascript:void(0);" class="category-title">Travel</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category-box">
                            <div class="category-media">
                                <img src="images/category/pic2.jpg" alt="Travel">
                            </div>
                            <div class="category-info">
                                <a href="javascript:void(0);" class="category-title">Beauty</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category-box">
                            <div class="category-media">
                                <img src="images/category/pic3.jpg" alt="Travel">
                            </div>
                            <div class="category-info">
                                <a href="javascript:void(0);" class="category-title">Fashion</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="category-box">
                            <div class="category-media">
                                <img src="images/category/pic4.jpg" alt="Travel">
                            </div>
                            <div class="category-info">
                                <a href="javascript:void(0);" class="category-title">Beauty</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->