@page "/Admin/Product/Test"

<style>
    #sync1 .item {
        background: #0c83e7;
        padding: 80px 0px;
        margin: 5px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
    }

    #sync2 .item {
        background: #C9C9C9;
        padding: 10px 0px;
        margin: 5px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
    }

        #sync2 .item h1 {
            font-size: 18px;
        }

    #sync2 .synced .item {
        background: #0c83e7;
    }
</style>

<div id="sync1" class="owl-carousel">
    <div class="item"><h1>1</h1></div>
    <div class="item"><h1>2</h1></div>
    <div class="item"><h1>3</h1></div>
    <div class="item"><h1>4</h1></div>
    <div class="item"><h1>5</h1></div>
    <div class="item"><h1>6</h1></div>
    <div class="item"><h1>7</h1></div>
    <div class="item"><h1>8</h1></div>
    <div class="item"><h1>9</h1></div>
    <div class="item"><h1>10</h1></div>
    <div class="item"><h1>11</h1></div>
    <div class="item"><h1>12</h1></div>
    <div class="item"><h1>13</h1></div>
    <div class="item"><h1>14</h1></div>
    <div class="item"><h1>15</h1></div>
    <div class="item"><h1>16</h1></div>
    <div class="item"><h1>17</h1></div>
    <div class="item"><h1>18</h1></div>
    <div class="item"><h1>19</h1></div>
    <div class="item"><h1>20</h1></div>
    <div class="item"><h1>21</h1></div>
    <div class="item"><h1>22</h1></div>
    <div class="item"><h1>23</h1></div>
</div>
<div id="sync2" class="owl-carousel">
    <div class="item"><h1>1</h1></div>
    <div class="item"><h1>2</h1></div>
    <div class="item"><h1>3</h1></div>
    <div class="item"><h1>4</h1></div>
    <div class="item"><h1>5</h1></div>
    <div class="item"><h1>6</h1></div>
    <div class="item"><h1>7</h1></div>
    <div class="item"><h1>8</h1></div>
    <div class="item"><h1>9</h1></div>
    <div class="item"><h1>10</h1></div>
    <div class="item"><h1>11</h1></div>
    <div class="item"><h1>12</h1></div>
    <div class="item"><h1>13</h1></div>
    <div class="item"><h1>14</h1></div>
    <div class="item"><h1>15</h1></div>
    <div class="item"><h1>16</h1></div>
    <div class="item"><h1>17</h1></div>
    <div class="item"><h1>18</h1></div>
    <div class="item"><h1>19</h1></div>
    <div class="item"><h1>20</h1></div>
    <div class="item"><h1>21</h1></div>
    <div class="item"><h1>22</h1></div>
    <div class="item"><h1>23</h1></div>
</div>