<div class="author-bx">
    <div class="author-info text-center">
        <h2 class="title say-hi">Hi</h2>
        <p>I am Shailja Reddy I am developer base in London</p>
        <ul class="author-social">
            <li><a href="javascript:void(0);" class=""><i class="fa fa-facebook"></i> <span>facebook</span></a></li>
            <li><a href="javascript:void(0);" class=""><i class="fa fa-instagram"></i> <span>instagram</span></a></li>
            <li><a href="javascript:void(0);" class=""><i class="fa fa-twitter"></i> <span>twitter</span></a></li>
            <li><a href="javascript:void(0);" class=""><i class="fa fa-linkedin"></i> <span>linkedin</span></a></li>
        </ul>
    </div>
</div>