<div class="section-full trending-post-sync wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
    <div class="container-fluid p-lr0">
        <div id="sync1" class="owl-carousel owl-theme owl-none owl-dots-none">
            <div class="item">
                <div class="dlab-box">
                    <div class="dlab-thum-bx">
                        <img src="images/featured-posts/pic1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="dlab-box">
                    <div class="dlab-thum-bx">
                        <img src="images/featured-posts/pic2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="dlab-box">
                    <div class="dlab-thum-bx">
                        <img src="images/featured-posts/pic3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="dlab-box">
                    <div class="dlab-thum-bx">
                        <img src="images/featured-posts/pic5.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="dlab-box">
                    <div class="dlab-thum-bx">
                        <img src="images/featured-posts/pic4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="sync2" class="owl-carousel owl-theme owl-none owl-dots-none">
            <div class="item">
                <div class="trending-post style1">
                    <div class="dlab-post-info">
                        <div class="dlab-post-meta">
                            <ul>
                                <li class="post-category"><a href="javascript:void(0);">Lifestyle</a></li>
                                <li class="post-date">at <span>12 August 2018</span></li>
                            </ul>
                        </div>
                        <div class="dlab-post-header">
                            <h6 class="post-title"><a href="post-open-gutenberg.html">Hamish Bowles Spends a Week in Qatar and Is Dazzled by Doha</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="trending-post style1">
                    <div class="dlab-post-info">
                        <div class="dlab-post-meta">
                            <ul>
                                <li class="post-category"><a href="javascript:void(0);">Lifestyle</a></li>
                                <li class="post-date">at <span>12 August 2018</span></li>
                            </ul>
                        </div>
                        <div class="dlab-post-header">
                            <h6 class="post-title"><a href="post-pagination.html">Hamish Bowles Spends a Week in Qatar and Is Dazzled by Doha</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="trending-post style1">
                    <div class="dlab-post-info">
                        <div class="dlab-post-meta">
                            <ul>
                                <li class="post-category"><a href="javascript:void(0);">Lifestyle</a></li>
                                <li class="post-date">at <span>12 August 2018</span></li>
                            </ul>
                        </div>
                        <div class="dlab-post-header">
                            <h6 class="post-title"><a href="post-audio.html">Hamish Bowles Spends a Week in Qatar and Is Dazzled by Doha</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="trending-post style1">
                    <div class="dlab-post-info">
                        <div class="dlab-post-meta">
                            <ul>
                                <li class="post-category"><a href="javascript:void(0);">Lifestyle</a></li>
                                <li class="post-date">at <span>12 August 2018</span></li>
                            </ul>
                        </div>
                        <div class="dlab-post-header">
                            <h6 class="post-title"><a href="post-link.html">Hamish Bowles Spends a Week in Qatar and Is Dazzled by Doha</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="trending-post style1">
                    <div class="dlab-post-info">
                        <div class="dlab-post-meta">
                            <ul>
                                <li class="post-category"><a href="javascript:void(0);">Lifestyle</a></li>
                                <li class="post-date">at <span>12 August 2018</span></li>
                            </ul>
                        </div>
                        <div class="dlab-post-header">
                            <h6 class="post-title"><a href="post-gallery-alternative.html">Hamish Bowles Spends a Week in Qatar and Is Dazzled by Doha</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Trending Post End -->