<!-- Latest Posts -->
<div class="section-full bg-gray post-column-bx content-inner">
    <div class="container">
        <div class="section-head text-center">
            <span>Latest Posts</span>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="blog-card blog-grid overlay-post center wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="dlab-post-media">
                        <img src="images/blog/blog-lg/pic2.jpg" alt="" />
                    </div>
                    <div class="blog-card-info">
                        <div class="dlab-post-meta">
                            <ul>
                                <li class="post-tag"><a href="tags.html">Culture</a></li>
                            </ul>
                        </div>
                        <h2 class="title font-weight-600 font-32"><a href="post-slide-show.html">New Subtly Subversive Power of Pink Lipstick</a></h2>
                        <div class="dlab-feed-meta">
                            <ul>
                                <li class="post-date">12 Aug 2020</li>
                                <li class="post-like"><a href="javascript:void(0);"><i class="fa fa-thumbs-o-up"></i><span>231</span></a></li>
                                <li class="post-dislike"><a href="javascript:void(0);"><i class="fa fa-thumbs-o-down"></i><span>584</span></a></li>
                                <li class="post-view"><a href="javascript:void(0);"><i class="fa fa-eye"></i><span>397</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="column-bx-sidebar widget-post-bx wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
                    <div class="trending-post clearfix">
                        <div class="dlab-post-media">
                            <img src="images/blog/popular-blog/pic1.jpg" alt="">
                            <h2 class="post-count">2</h2>
                        </div>
                        <div class="dlab-post-info">
                            <div class="dlab-post-header">
                                <div class="dlab-post-meta">
                                    <ul>
                                        <li class="post-category"><a href="javascript:void(0);">Lifestyle</a></li>
                                        <li class="post-date">at <span>12 August 2018</span></li>
                                    </ul>
                                </div>
                                <h6 class="post-title"><a href="post-open-gutenberg.html">Ready or Not, the Return of the Hobo Bag Is Nigh</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="trending-post clearfix">
                        <div class="dlab-post-media">
                            <img src="images/blog/popular-blog/pic2.jpg" alt="">
                            <h2 class="post-count">3</h2>
                        </div>
                        <div class="dlab-post-info">
                            <div class="dlab-post-header">
                                <div class="dlab-post-meta">
                                    <ul>
                                        <li class="post-category"><a href="javascript:void(0);">Lifestyle</a></li>
                                        <li class="post-date">at <span>12 August 2018</span></li>
                                    </ul>
                                </div>
                                <h6 class="post-title"><a href="post-pagination.html">La Dolce Vita Meets Old School on Beach Style </a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="trending-post clearfix">
                        <div class="dlab-post-media">
                            <img src="images/blog/popular-blog/pic3.jpg" alt="">
                            <h2 class="post-count">4</h2>
                        </div>
                        <div class="dlab-post-info">
                            <div class="dlab-post-header">
                                <div class="dlab-post-meta">
                                    <ul>
                                        <li class="post-category"><a href="javascript:void(0);">Lifestyle</a></li>
                                        <li class="post-date">at <span>12 August 2018</span></li>
                                    </ul>
                                </div>
                                <h6 class="post-title"><a href="post-video.html">Actually the Cool Commuter Shoe Does Exist</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="trending-post clearfix">
                        <div class="dlab-post-media">
                            <img src="images/blog/popular-blog/pic4.jpg" alt="">
                            <h2 class="post-count">5</h2>
                        </div>
                        <div class="dlab-post-info">
                            <div class="dlab-post-header">
                                <div class="dlab-post-meta">
                                    <ul>
                                        <li class="post-category"><a href="javascript:void(0);">Lifestyle</a></li>
                                        <li class="post-date">at <span>12 August 2018</span></li>
                                    </ul>
                                </div>
                                <h6 class="post-title"><a href="post-audio.html">The Best Model Street Style Beauty of Fashion Month</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>